@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans:opsz@6..12&family=Open+Sans&family=Palanquin+Dark&family=Palanquin:wght@300;600&family=Poppins:wght@100;400&family=REM:wght@400;500&family=Roboto+Condensed&family=Roboto:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  transition: all 0.25s;
}
body {
  min-height: 100vh;
  display: flex;
  /* background-image: url("https://images.unsplash.com/photo-1506703719100-a0f3a48c0f86?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2670&q=80"); */
  background-image: url("https://images.unsplash.com/photo-1682685797365-41f45b562c0a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2670&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  backdrop-filter: brightness(85%);
  /* animation: body 6s infinite alternate; */
}
/* @keyframes body {
  0% {
    backdrop-filter: brightness(70%);
  }
  100% {
    backdrop-filter: brightness(140%);
  }
} */
#main {
  width: 1400px;
}
#main .title {
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  /* background-image: linear-gradient(to right, red, yellow); */
  /* color: transparent; */
  /* -webkit-background-clip: text;
  background-clip: text; */
  /* animation: animation-text 7s infinite alternate; */
  color: white;
}
@keyframes animation-text {
  0% {
    filter: hue-rotate(129deg);
  }
  50% {
    filter: hue-rotate(197deg);
  }
  100% {
    filter: hue-rotate(12deg);
  }
}
#main .box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 90px;
  position: relative;
}
#main .box .icon {
  font-size: 30px;
  color: white;
}
#main .box .form-group {
  width: 45%;
}
.box .form-group select {
  position: absolute;
  width: 250px;
  height: 35px;
  top: -30px;
  outline: none;
  border: none;
  border-radius: 8px;
  padding-left: 5px;
  transform: translateY(-10px);
  font-size: 18px;
  /* background-image: linear-gradient(to bottom right, #fc466b, #3f5efb);
  background-image: linear-gradient(to bottom right, #654ea3, #eaafc8);
  background-image: linear-gradient(to bottom right, #004e9a, #428cd4); */
  color: black;
}
.box .form-group:first-of-type {
  position: relative;
}
.box .form-group:first-of-type .box-icon {
  color: white;
  font-size: 20px;
  position: absolute;
  cursor: pointer;
}
.box .form-group:first-of-type .box-icon--mic {
  left: 30px;
  bottom: 20px;
}
.box .form-group:first-of-type .box-icon--photo {
  left: 70px;
  bottom: 20px;
}
.box .form-group:first-of-type select {
  left: 2%;
}
.box .form-group:last-of-type select {
  right: 2%;
}
.box .form-group select option {
  font-size: 18px;
  color: black;
}
.box .form-group textarea {
  width: 100%;
  height: 400px;
  resize: none;
  outline: none;
  padding: 20px;
  border: 1px solid #fff;
  border-radius: 8px;
  font-size: 23px;
  background-color: transparent;
  color: white;
  overflow-y: hidden;
}
.box .form-group textarea::placeholder {
  color: white;
}
/* .box .form-group:last-of-type textarea {
  background-color: #f5f5f5;
} */
.box .form-group textarea::-webkit-scrollbar {
  width: 10px;
}
.box .form-group textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: white;
}
/* .box .form-group textarea::-webkit-scrollbar-track {
  border-radius: 10px;
} */
#main .box button {
  width: 200px;
  height: 50px;
  margin: 30px auto;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  position: relative;
}
#main .box button span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#main .box button::before {
  content: "";
  position: absolute;
  width: 0;
  height: 104%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: inherit;
  background-color: green;
  transition: all 0.25s;
}
#main .box button:hover span {
  color: white;
}
#main .box button:hover::before {
  width: 101%;
}
@media screen and (min-width: 1024px) and (max-width: 1320px) {
  .box .form-group select {
    width: 200px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .box .form-group select {
    width: 150px;
  }
}
@media screen and (max-width: 768px) {
  #main .title {
    font-size: 40px;
    transform: translateY(10px);
  }
  #main .box {
    flex-direction: column;
    gap: 40px 0;
    padding: 0 10px;
  }
  #main .box .form-group {
    width: 100%;
  }
  .box .form-group select {
    width: 120px;
    font-size: 15px;
  }
  .box .form-group:first-of-type select {
    left: 3%;
  }
  .box .form-group:last-of-type select {
    top: 286px;
    left: 3%;
  }
  .box .form-group textarea {
    height: 200px;
  }
  #main .box .icon {
    transform: rotate(90deg);
  }
  #main .box button {
    width: 150px;
    height: 45px;
    transform: translateY(-30px);
  }
}
